@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 992px) {
   header{
   background-position: center;
   width: 100%;

   }
   main{
   display: block;
   margin: auto;

   
   }
 
    }
    @media screen and (min-width: 992px) {
        header{
            background-position: center;
            width: 100%;
         
            }
            header > h1{
                font-size: 2.5em;
                color: black;
                text-shadow: 2px 2px 0px white;
            }
            main{
             display: block;
             margin: auto;
         
         
            
            }
            main > h1{
                font-size: 2.3em;
            }
            main > p{
                font-size: 1.5em;
            }
       
     }