@charset "UTF-8";
@font-face {
    font-family: 'one slice';
    src: url("fontes/One Slice.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
@media (max-width: 768px) { 
        
body , html{
    background-color: #6c9139a2;
    width: 100vw;
    height: 100vh;
    }
   
    
    header > h1{
        font-family: cursive;
        background-color: #6c9139a2;
        width: 200px;
        color: white;
        text-shadow: 2px 2px 5px rgba(8, 8, 8, 0.623);
    }


header{
    display: block;
    width: 90%;
    height: 200px;
    background-color: black;
    background: url(../imagens/pexels-markusspiske-114296.jpg) no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 5pxpx;
    border: 0px;
    border-radius: 5px;

}

main{
    display: block;
    margin: auto;
    width: 90%;
    background-color: white;
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;

}
main >h1{
 font-family:monospace;
    background-color: #6c9139a2;
    color: black;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(252, 252, 252, 0.418);
    font-size: 2em;
}
main > p{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.377) ;
    margin-bottom: 20px;
    text-align: justify;
}
menu > ul{
 
    list-style-type: none;
   
    
    }
    menu{
        text-align: right;
        transform: translateY(-25px);
     
    }
    ul >li{
        color: white;
        background-color: #6c9139a2;
        width: 40px;
        display: inline;
        font-size: 1em;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.377) ;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        
        
    }
    menu > ul > li > a{
     text-align: right;
        text-decoration: none;
        color: white;
        }
        a:hover{
            background-color: white;
            color: black;
        }
        }