@charset "UTF-8";
@font-face {
    font-family: 'one slice';
    src: url("fontes/One Slice.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

        
body{
    background-color: #2a3f379d;
    width: 100vw;
    height: 100vh;
    }
   
    
    header > h1{
        font-family: cursive;
     
        width: 200px;
        color: black;
        text-shadow: 2px 2px 5px rgba(243, 242, 242, 0.623);
        flex: auto;
    }
    


header{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: black;
    background: url(../imagens/imagem\ de\ fundo.png.webp) no-repeat;
    background-size: cover;
   background-position: center;
    padding: 10px;
    margin: 5pxpx;
    border: 0px;
    border-radius: 5px;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    

}

main{
    display: flex;
    margin: auto;
    width: 90%;
    background-color: white;
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;

}
main >h1{
    font-family:monospace;
     background-color: #2A3F37 ;
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
    font-size: 2em;
  
}
main > p{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.377) ;
    margin-bottom: 20px;
    text-align: justify;
  
}

    header > nav >{
        color: white;
        
    
        border-radius: 10px;
        display: flex;
        font-size: 1em;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.377) ;
        padding: 5px;
        
        font-family: Arial, Helvetica, sans-serif;
        
        
    }
    header > nav > a{
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 5px;
        background-color: #2A3F37;
        border-radius: 10px;
      
      
       
        }
       header > nav > a:hover{
            background-color: white;
            color: black;
        }
        section#jornal{
            display: flex;
            height: 430px;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-self: center;
            padding: 10px;
            margin: 10px;
            
        }
        